trigger: none
pool: Ashu-pool

variables:
  Work_Dir: '$(System.DefaultWorkingDirectory)/environments/dev'


stages:
- stage: Scanning
  jobs: 
  - job: Sonarscan_and_linting
    
    steps:
    - task: SonarQubePrepare@8
      displayName: Sonarscan
      inputs:
        SonarQube: 'SonarSVC'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'TODO_INFRA_INFRA-AUTOMATION.git_da465554-ec99-4544-8f82-a80e4ca59bf6'
        cliSources: 'environment/dev'
    - task: PowerShell@2
      displayName: Tflint_scanning
      continueOnError: true
      inputs:
        targetType: 'inline'
        script: |
          cd environments/dev
          tflint --init
          tflint
    
    

    - task: SonarQubeAnalyze@8
      inputs:
        jdkversion: 'JAVA_HOME_17_X64'

    - task: SonarQubePublish@8
      inputs:
        pollingTimeoutSec: '300'



- stage: Terraform_init
  displayName: Terraform init and plan
  dependsOn: Scanning
  jobs: 
  - job: Terraform_init
    steps: 
    - task: TerraformInstaller@1
      displayName: Tool_install
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: Terraform_init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(Work_Dir)'
        backendServiceArm: 'Ashu-svc'
        backendAzureRmStorageAccountName: 'stg13example'
        backendAzureRmContainerName: 'pravin'
        backendAzureRmKey: 'terraform.tfstate'

    - task: TerraformTask@5
      displayName: Terraform_plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(Work_Dir)'
        environmentServiceNameAzureRM: 'Ashu-svc'

- stage: Manual_validation
  dependsOn: Terraform_init
  pool: server
  jobs:
    - job: Manual_approval
      
      steps: 
      - task: ManualValidation@1
        inputs:
          notifyUsers: 'Ashutosh.pal26@outlook.com'
          approvers: 'Ashutosh.pal26@outlook.com'

- stage: Terraform_Apply
  dependsOn: Manual_validation
  jobs: 
  - job: Terraform_Apply
    steps:
    - task: TerraformTask@5
      displayName: Terraform_init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(Work_Dir)'
        backendServiceArm: 'Ashu-svc'
        backendAzureRmStorageAccountName: 'stg13example'
        backendAzureRmContainerName: 'pravin'
        backendAzureRmKey: 'terraform.tfstate'

    - task: TerraformTask@5
      displayName: Terraform_Apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(Work_Dir)'
        environmentServiceNameAzureRM: 'Ashu-svc'